/* static/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.75;
}

.content {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3498db;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

p {
    color: #4a4a4a;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #e7e7e7;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #d7d7d7;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
