<!DOCTYPE html>
<html>
<head>
    <title>{{ section.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="content">
        <h1>{{ section.title }}</h1>
        {{ section.content | safe }}
    </div>
</body>
</html>
